.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;  
}

  @media (max-width: 767px) {
    .col-2 {
      width: 50%;
    }
  }
  
  /* ==========================================================================
     #BOX-SIZING
     ========================================================================== */
  
  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  * {
    padding: 50;
    margin: 50;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  
 
  /* ==========================================================================
     #PAGE WRAPPER
     ========================================================================== */
  .page-wrapper {
    height: 550px;
  }
  
  body {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 200;
    font-size: 14px;
    align-items: center;
  }
  
 
  
  /* ==========================================================================
     #BUTTON
     ========================================================================== */
  .btn {
    display: inline-block;
    line-height: 40px;
    padding: 0 33px;
    font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 18px;
    
  }
  
  .btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
 
  
  
 
  /* ==========================================================================
     #FORM
     ========================================================================== */
  input {
    justify-content: center;
    outline: none;
    margin: 30;
    border: 1px solid grey;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 70%;
    font-size: 14px;
    font-family: inherit;
  }
  
  .input-icon {
    
    font-size: 18px;
    color: #ccc;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .input-group {
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .input--style-3 {
    padding: 2px 0;
    font-size: 16px;
    color: black;
    background: transparent;
  }
   